<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HubchatTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B12588F1E5709DC0075341B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B1258A31E5709DD0075341B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B1258AE1E5709DD0075341B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
